@import "tailwindcss";

/* Add this configuration */
@variant dark (&:where(.dark, .dark *));

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  overflow-x: hidden;
}

html,
body {
  height: 100%;
  width: 100%;
  max-width: 100vw;
  @apply text-sm;
  @apply bg-gray-50;
  @apply text-gray-900;
}

#root,
.app {
  width: 100%;
  max-width: 100%;
  min-height: 100%;
  @apply text-sm;
  @apply bg-gray-50;
  @apply text-gray-900;
}

@media (min-width: 768px) {
  .custom-grid-rows {
    grid-auto-rows: minmax(200px, auto);
  }
}

@media (min-width: 1280px) {
  .custom-grid-rows {
    grid-auto-rows: minmax(150px, auto);
  }
}
